/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-gen-2019, 16.06.43
    Author     : bogdan
*/

.input-group > .select2-container--bootstrap{
    display: block;
    flex: 1;
}

.select2-container--bootstrap .select2-selection--single{
    height: 38px;
}



.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection.form-control{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-color: #6c757d;
}

#div-select2-products .select2-selection--single{
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-color: #6c757d;
}

#div-select2-products{
    padding-left: 5px;
    padding-right: 10px;
}

#div-select2-products > .input-group-prepend{
    margin-right: 5px;
}

#search-product-button{
    height: 38px;
}

.select2-container--bootstrap .select2-selection{
    font-size: 16px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    padding-top: 3px;
}

.active:after {
    content: "";
}