<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <init-param>
        <param-name>jersey.config.server.provider.classnames</param-name>
        <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>


    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>servlets.ActivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/ActivateServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DbConnect</servlet-name>
        <servlet-class>servlets.DbConnect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbConnect</servlet-name>
        <url-pattern>/DbConnect</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetCatProdServlet</servlet-name>
        <servlet-class>servlets.GetCatProdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCatProdServlet</servlet-name>
        <url-pattern>/GetCatProdServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetProdServlet</servlet-name>
        <servlet-class>servlets.GetProdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProdServlet</servlet-name>
        <url-pattern>/GetProdServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>servlets.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListCatServlet</servlet-name>
        <servlet-class>servlets.ListCatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCatServlet</servlet-name>
        <url-pattern>/ListCatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProdCatServlet</servlet-name>
        <servlet-class>servlets.ProdCatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdCatServlet</servlet-name>
        <url-pattern>/ProdCatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReSendServlet</servlet-name>
        <servlet-class>servlets.ReSendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReSendServlet</servlet-name>
        <url-pattern>/ReSendServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RequestResetServlet</servlet-name>
        <servlet-class>servlets.RequestResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestResetServlet</servlet-name>
        <url-pattern>/RequestResetServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>servlets.ResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/ResetServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SetPasswordServlet</servlet-name>
        <servlet-class>servlets.SetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetPasswordServlet</servlet-name>
        <url-pattern>/SetPasswordServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlets.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    
    
    /************* Filters **************/
    <filter>
        <filter-name>RememberFilter</filter-name>
        <filter-class>filters.RememberFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RememberFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>filters.LoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>ListFilter</filter-name>
        <filter-class>filters.ListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ListFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>ShoppingListsFilter</filter-name>
        <filter-class>filters.ShoppingListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShoppingListsFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
